importFrom("stats", "var", "lm", "predict", "runif")
importFrom("graphics", "abline", "par", "title")
importFrom("randomForest", "randomForest")
importFrom("numbers", "modpower")
export("Matpower", "shuffle", "rlincong", "rngV", "rMWC", "LawofCosines", "LawofSines", "gcd", "DecToBin", "IntDecToBin", "MaxRunLength", "microLASSO", "RNGtest", "rAlias", "mCracker", "EratosthenesSieve")
useDynLib("MiscMath", .registration = TRUE, .fixes = "C_")

